@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    
}

.logo{
    text-decoration: none;
    color: #00ccb1;
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 1.8em;

}



.navigation a{
    color: gray;
    text-decoration: none;
    font-size: .9375rem;
    font-weight: 400px;
    line-height: 2em;
    justify-content: space-between;
    padding: 0 0.6em;

}
 
.navigation a:hover{
    color: #00ccb1;
}

section{
    padding: 5px 200px;
}

.main{
    width: 100%;
    min-height: 0vh;
    display: flex;
    
    
}
.main h1{
    text-align: center;
    color: #00ccb1;
    font-size: 2em;
    margin-top: 80px;
}
.main h2{
    color: #00ccb1;
    font-size: 1.9em;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.left{
    font-size: 1em;
    font-weight: 300;
    border: 1px;
    height: 200px;
    float: left;
    width: 50%;
    margin-top: 20px;
}

 .right{
    font-size: 1em;
    font-weight: 300;
    border: 1px;
    height: 200px;
    float: right;
    width: 50%;
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardone{
    background-color: #00ccb1;
    width: 16em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.cardtwo{
    background-color: #3d83df;
    width: 16em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.cardthree{
    background-color: #1b2734;
    width: 16em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.icon{
    color: white;
    font-size: 2em;
    text-align: left;

}

.info{
    text-align: left;
}

.info h3{
    color: white;
    font-size: 1.5em;
    font-weight: 150em;
    margin: 10px;
}

.info h2{
    color: white;
    font-size: 1.1em;
    font-weight: 100em;
    margin-bottom: 100px;
}

.info p{
    color: white;
    font-size: 1.1em;
    font-weight: 100em;
}
#country{
   background-color: transparent;
   color: white;
   border: none;
   font-size: 1.1em;
}

.stats{
    margin-top: 100px;
}

.global .content{
    margin-top: 30px;

}
.global-card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
     width: 23em;
     overflow: hidden;
     border-radius: 10px;
     margin: 20px;
     transition: 0.7s ease;
}

.global-card:hover{
    transform: scale(1.1)
}
.global-card:hover .global-image{
opacity: 0.9;
}
.global-image img{
width: 100%;

}

country-info{
    padding: 1em;

}
.country-name{
    font-size: 0.8em;
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;

}
.see-openings{
    text-decoration: none;
    color: lightblue;

}
.see-openings:hover{
    color:blue;
}

.boxes{
    background-image: url("file:///Users/marwanabdou/Desktop/img/bg.jpg");
}

.global h2{
    margin-top: 10px;
    color: #00ccb1;
    justify-content: center;
}

.global p{
    margin-top: 20px;
    align-content: center;
}
.footer{
    font-size: 0.7em;
    padding: 2em;
    background:#CCC;
    
  
}

.box{
    background-color: white;
    width: 16em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    
    
}

.box h3
{
    color:#00ccb1;
    margin-top: 20px;
    
   
    
    
}

.box p{
    color: black;

    
}
.box i{
    color: #00ccb1;

    
}

.boxes h3{
    margin-top: 20px;
}

.boxes p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.boxes .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main h2{
        font-size: 1em;
    }

    .main h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main h2{
        font-size: 0.8em;
    }

    .main h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}